#change-mode:hover {
  cursor: pointer;
 
}
#card-mode-button:hover {
  color: #1e90ff;
}
#list-mode-button:hover {
  color: #1e90ff;
}

.card-mode-heart {
  position: absolute;
  z-index: 1;
  bottom: 5%;
  right: 5%;
}
.fa-heart:hover {
  cursor: pointer;
}